# CMake
cmake-build-*/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Compilados
*.o
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.dll

# IDEs
.idea/
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db
